@model Product

<div class="row">
        <div class="col-5">
            <img width="250" height="600" class="card-img-top" src="@Model.Link" alt="Изображение товара">
            </div>

            <div class="col-3">
            <div class="card-body">
                 <h5>@Model.Name</h5>
                <h5>@string.Format("{0:### ### ###}",Model.Cost) руб.</h5>
                <h5>@Model.Description</h5>

            <a class="btn btn-primary bi bi-arrow-left" href="/Home/Index" role="button"> Продолжить покупки</a>
            <a class="btn btn-success bi bi-cart-plus" href="/cart/add?productId=@Model.Id" role="button" onclick="event.preventDefault(); addToCart(@Model.Id)"> Добавить в корзину</a>
            <script>
                function addToCart(productId) {
                    fetch(`/cart/add?productId=${productId}`, {
                        method: 'POST',
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            </script>

            </div>

        </div>
</div>